<div class="panel-footer">
    <div class="row">
        <div class="col col-xs-4">Page {{ currentPage }} of {{ maxPages }}
        </div>
        <div class="col col-xs-8">
            <ul class="pagination hidden-xs pull-right">

                {% if maxPages >= 1 %}
                    <ul class="pagination pagination-sm">

                        <li {{ currentPage == 1 ? 'class="disabled"' }}>
                            {% set parameters = app.request.query.all %}
                            <a href="{{ path(path, parameters) }}">«</a>
                        </li>

                        {% for pageNumber in 1..maxPages %}
                            <li {{ currentPage == pageNumber ? 'class="active"' }}>
                                {% set parameters = {'page':  pageNumber }|merge(app.request.query.all) %}
                                <a href="{{ path(path, parameters) }}">
                                    {{ pageNumber }}
                                </a>
                            </li>
                        {% endfor %}

                        <li {{ currentPage == maxPages ? 'class="disabled"' }}>
                            {% set parameters = {'page':  maxPages }|merge(app.request.query.all) %}
                            <a href="{{ path(path, parameters) }}">»</a>
                        </li>
                    </ul>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
