{% extends 'admin/base.html.twig' %}

{% form_theme form _self 'bootstrap_3_layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('assets/css/quiz-create.css') }}">
{% endblock %}

{% block _quiz_questions_widget %}
    {{ form_widget(form) }}

    <button type="button" class="btn btn-sm btn-primary add-question-button">
        <span class="glyphicon glyphicon-plus"></span> Add Question
    </button>
{% endblock %}

{% block _quiz_questions_entry_label %}
    <label>Question #{{ form.vars.name }}</label>
{% endblock %}

{% block _quiz_questions_entry_widget %}
    {{ form_widget(form, {attr: {'data-name': form.vars.name}}) }}
{% endblock %}

{% block _quiz_questions_entry_answers_widget %}
    {{ form_widget(form) }}

    <button type="button" class="btn btn-sm btn-primary add-answer-button">
        <span class="glyphicon glyphicon-plus"></span> Add Answer
    </button>
{% endblock %}

{% block _quiz_questions_entry_answers_entry_label %}
    <label>Answer #{{ form.vars.name }}</label>
{% endblock %}

{% block title %}Create Quiz{% endblock %}

{% block content %}

    <div class="center-panel col-md-6 col-md-offset-2">

        {% if form_errors(form) %}
            <div class="alert alert-danger" role="alert">
                {{ form_errors(form) }}
            </div>
        {% endif %}

        <div class="panel-heading">
            <h1 class="panel-title">Add Quiz</h1>
        </div>

        <div class="panel-body">
            {{ form_start(form) }}
            {{ form_row(form.title) }}
            {{ form_row(form.category) }}
            {{ form_row(form.description) }}
            {{ form_widget(form.questions) }}
            <button type="submit" class="btn btn-success btn-sm">Create Quiz</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('assets/js/quiz_create.js') }}"></script>
{% endblock %}
