{% extends 'admin/base.html.twig' %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block title %}Edit quiz{% endblock %}

{% block content %}
    <div class="col-md-10">

        <div class="center-panel">

            {% if form_errors(form) %}
                <div class="alert alert-danger" role="alert">
                    {{ form_errors(form) }}
                </div>
            {% endif %}

            <div class="panel-heading">
                <h1 class="panel-title">Edit quiz</h1>
            </div>

            <div class="panel-body">
                {{ form_start(form) }}

                {{ form_row(form.title) }}
                {{ form_row(form.category) }}
                {{ form_row(form.description) }}

                {% include 'admin/quiz/question-table.html.twig' %}

                <input type="submit" value="Edit" class="btn btn-success pull-right submit"/>
                {{ form_end(form, {'render_rest': false}) }}
            </div>
        </div>
    </div>
{% endblock %}
