<div class="panel panel-default panel-table">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-6">
                <h1 class="panel-title">Questions</h1>
            </div>
            <div class="col-md-6 text-right">
                <a class="btn btn-sm btn-primary btn-create"
                   href="{{ path('admin.question.create', {'quiz' : form.vars.value.id}) }}"
                >
                    Create New Question
                </a>
            </div>
        </div>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th>Question</th>
            <th>Actions</th>
        </tr>
        </thead>

        <tbody>
        {% for question in form.vars.value.questions %}
            <tr>

                <td>
                    {{ question.text }}
                </td>
                <td>
                    <a href="{{ path('admin.question.edit', {'question' : question.id}) }}"
                       class="btn btn-sm btn-success btn-edit">
                        <i class="glyphicon glyphicon-pencil"></i>
                        Edit
                    </a>
                </td>
                <td>
                    <form class="inline-form"
                          action="{{ path('admin.question.delete', {'question' : question.id}) }}">
                        <button class=" btn btn-sm btn-danger btn-edit"
                                type="button"
                                data-toggle="modal"
                                data-target="#confirmDelete"
                                data-title="Delete Question"
                                data-message="Are you sure you want to delete this question ?">
                            <i class="glyphicon glyphicon-trash"></i>
                            Delete
                        </button>
                    </form>
                    {#<a href="{{ path('admin.question.delete', {'question' : question.id}) }}"#}
                    {#class="btn btn-sm btn-success btn-danger">#}
                    {#<i class="glyphicon glyphicon-pencil"></i>#}
                    {#Delete#}
                    {#</a>#}
                </td>
            </tr>
        {% endfor %}
        </tbody>

    </table>
</div>
