<div class="panel panel-default panel-table">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-6">
                <h1 class="panel-title">Quizzes</h1>
            </div>
            <div class="col-md-6 text-right">
                <form method="get" action="{{ path('admin.quiz.list') }}">
                Search by coincidence with :
                    <input type="text" name="filter" value=""/>
                    <input class="btn btn-sm btn-default btn-create" value="Search" type="submit"/>

                <a class="btn btn-sm btn-primary btn-create">
                    Create New
                </a>
                </form>
            </div>
        </div>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th>Title</th>
            <th>Category</th>
            <th>Created at</th>
            <th>Author</th>
        </tr>
        </thead>

        <tbody>
            <tr>
                {% for quiz in quizzes %}
                <td>
                    {{ quiz.title }}
                </td>
                <td>
                    {{ quiz.category.title }}
                </td>
                <td>
                    {{ quiz.createdAt|date }}
                </td>
                <td>
                    {{ quiz.author.firstName}} {{ quiz.author.lastName}}
                </td>
            </tr>
        {% endfor %}
        </tbody>

    </table>

    <div class="panel-footer">
        <div class="row">
            <div class="col col-xs-4">Page {{ currentPage }} of {{ maxPages }}
            </div>
            <div class="col col-xs-8">
                <ul class="pagination hidden-xs pull-right">
                    {% if maxPages >= 1 %}
                        <ul class="pagination pagination-sm">

                            <li {{ currentPage == 1 ? 'class="disabled"' }}>
                                {% set parameters = app.request.query.all %}
                                <a href="{{ path('admin.quiz.list',parameters) }}">«</a>
                            </li>

                            {% for pageNumber in 1..maxPages %}
                                <li {{ currentPage == pageNumber ? 'class="active"' }}>
                                    {% set parameters = {'page':  pageNumber }|merge(app.request.query.all) %}
                                    <a href="{{ path('admin.quiz.list', parameters) }}">
                                        {{ pageNumber }}
                                    </a>
                                </li>
                            {% endfor %}

                            <li {{ currentPage == maxPages ? 'class="disabled"' }}>
                                {% set parameters = {'page':  maxPages }|merge(app.request.query.all) %}
                                <a href="{{ path('admin.quiz.list', parameters ) }}">»</a>
                            </li>
                        </ul>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>
