<div class="panel panel-default panel-table">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-6">
                <h1 class="panel-title">Quizzes</h1>

            </div>

            <div class="col-md-6 text-right">
                <input type="text" name="categoryTitle" value="">
                <a class="btn btn-sm btn-primary btn-find"
                        href="{{ path('admin.quiz.list',{'page': currentPage }) }}"

                >
                    Find
                </a>
                <a class="btn btn-sm btn-primary btn-create"
                        {#href="{{ path('admin.user.create') }}"#}
                >
                    Create New
                </a>
            </div>
        </div>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th>Title</th>
            <th>Category</th>
            <th>Created at</th>
            <th>Author</th>
        </tr>
        </thead>

        <tbody>
            <tr>
                {% for quiz in quizzes %}
                <td>
                    {{ quiz.title }}
                </td>
                <td>
                    {{ quiz.category.title }}
                </td>
                <td>
                    {{ quiz.createdAt|date }}
                </td>
                <td>
                    {{ quiz.author.firstName}} {{ quiz.author.lastName}}
                </td>
            </tr>
        {% endfor %}
        </tbody>

    </table>

    <div class="panel-footer">
        <div class="row">
            <div class="col col-xs-4">Page {{ currentPage }} of {{ maxPages }}
            </div>
            <div class="col col-xs-8">
                <ul class="pagination hidden-xs pull-right">
                    {% if maxPages >= 1 %}
                        <ul class="pagination pagination-sm">

                            <li {{ currentPage == 1 ? 'class="disabled"' }}>
                                <a href="{{ path('admin.quiz.list') }}">«</a>
                            </li>

                            {% for pageNumber in 1..maxPages %}
                                <li {{ currentPage == pageNumber ? 'class="active"' }}>
                                    <a href="{{ path('admin.quiz.list', {'page': pageNumber }) }}">
                                        {{ pageNumber }}
                                    </a>
                                </li>
                            {% endfor %}

                            <li {{ currentPage == maxPages ? 'class="disabled"' }}>
                                <a href="{{ path('admin.quiz.list', {'page':  maxPages }) }}">»</a>
                            </li>
                        </ul>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>
