{% extends 'admin/dashboard.html.twig' %}

{% block title %}Quiz list{% endblock %}

{% block content %}
    <div class="col-md-10 content">
        <div class="panel panel-default">
            <div class="panel-heading">Quiz list</div>
            <div class="panel-body">
                <table class="table quiz-list">
                    <thead>
                    <tr>
                        <th><span>Title</span></th>
                        <th><span>Category</span></th>
                        <th><span>Created at</span></th>
                        <th><span>Author</span></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        {% for quiz in quizes %}
                        <td width="200">
                            {{ quiz.title }}
                        </td>
                        <td width="200">
                            {{ quiz.category.title }}
                        </td>
                        <td width="200">
                            {{ quiz.createdAt|date }}
                        </td>
                        <td width="200">
                            {{ quiz.author.firstName}} {{ quiz.author.lastName}}
                        </td>

                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% if maxPages > 1 %}
                    <ul class="pagination pagination-sm">
                        <td {{ thisPage == 1 ? 'class="disabled"' }}>
                            <a href="quiz?page=1">«</a>
                        </td>
                        {% for pageNumber in 1..maxPages %}
                            <td {{ thisPage == pageNumber ? 'class="active"' }}>
                                <a href="quiz?page={{ pageNumber }}">{{ pageNumber }}</a>
                            </td>
                        {% endfor %}
                        <td {{ thisPage == maxPages ? 'class="disabled"' }}>
                            <a href="quiz?page={{ maxPages }}">»</a>
                        </td>
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
