{% extends 'admin/base.html.twig' %}

{% form_theme form _self 'bootstrap_3_layout.html.twig' %}

{% block _quiz_questions_entry_answers_widget %}
    {{ dump(form) }}
    <h1 class="panel-title">Edit question</h1>
{% endblock %}


{% block title %}Edit question{% endblock %}

{% block content %}

    <div class="center-panel col-md-6 col-md-offset-2">

        {% if form_errors(form) %}
            <div class="alert alert-danger" role="alert">
                {{ form_errors(form) }}
            </div>
        {% endif %}

        <div class="panel-heading">
            <h1 class="panel-title">Edit question</h1>
        </div>

        <div class="panel-body">

            {{ form_start(form) }}

            {{ form_row(form._token) }}
            {{ form_row(form.text) }}

            <p class="small-title">Answers:</p>
            <ul id="answer-fields-list"
                data-prototype="{{ form_widget(form.answers.vars.prototype)|e }}">

                {% for answer in form.answers %}
                    <li class="answer-row">
                        {{ form_row(answer.text) }}

                        {{ form_row(answer.correct) }}
                        {{ form_row(answer.delete) }}
                    </li>
                {% endfor %}

            </ul>
            <div class="row">
                <div class="col-md-6">
                    <button id="add-answer-form" type="button" class="btn btn-sm btn-default add-answer-btn">
                        <span class="glyphicon glyphicon-plus"></span> Add Answer
                    </button>
                </div>
                <div class="col-md-6">
                    <button type="submit" class="btn btn-sm btn-success add-answer-btn">
                        <span class="glyphicon glyphicon-ok"></span> Edit question
                    </button>
                </div>


            </div>

            {{ form_end(form, {'render_rest': false}) }}
        </div>
    </div>
{% endblock %}
