{% extends '::base.html.twig' %}

{% block body %}
    <table class="table user-list">
        <thead>
        <tr>
            <th><span>Username</span></th>
            <th><span>Name and Surname</span></th>
            <th><span>Role</span></th>
            <th ><span>Status</span></th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody >
        <tr>
            {% for user in users %}
                <td width="200">
                    {{ user.username }}
                </td>
                <td width="200">
                    {{ user.firstname }} {{ user.lastname }}
                </td>
                <td width="200">
                    {{ user.role }}
                </td>
                <td width="200" >
                    {{ user.active }}
                </td>
        </tr>
            {% endfor %}

        </tbody>
    </table>
    {% if maxPages > 1 %}
        <ul class="pagination pagination-sm">

            <li {{ thisPage == 1 ? 'class="disabled"' }}>
                <a href="#">«</a>
            </li>

            User list
            {% for i in 1..19 %}
                <li {{ thisPage == i ? 'class="active"' }}>
                    <a href="#">{{ i }}</a>
                </li>
            {% endfor %}

            <li {{ thisPage == maxPages ? 'class="disabled"' }}>
                <a href="">»</a>
            </li>
        </ul>
    {% endif %}
{% endblock %}
